<!doctype html>
<html>
  <head>
    <title>Example application</title>
  </head>
  <body>
  <a href="{{ url_for('posts_get') }}">Посты</a>
  <!-- BEGIN (write your solution here) -->
    </br>
    </br>
    {% if errors %}
    <h2>Ошибки:</h2>
      <ul>
      {% for error in errors %}
          <li>{{ error }}: {{ errors[error] }}</li>
      {% endfor %}
      </ul>
    {% endif %}
    <form action="/posts" method="post">
    <table>
        <tr>
            <td>
                <label for="title">Title: </label>
                <input type="text" name="title" value="{{ title }}">
            </td>
        </tr>
        <tr>
            <td>
                <label for="body: ">Body:</label>
                <input type="text" name="body" value= "{{ body }}" >
            </td>
        </tr>
    </table>
    </br>
        <input type="submit" value="Добавить">
    </form>
  <!-- END -->
  </body>
</html>

  <!-- BEGIN  решение ментора
  <form action="{{ url_for('posts_post') }}" method="post">
    <div>
      <label>
          Имя *
        <input type="text" name="title" value="{{ post.title|default('') }}">
      </label>
        {% if errors %}
          <div>{{ errors.title }}</div>
        {% endif %}
      </div>
    <div>
      <label>
        Содержимое *
      </label>
      <textarea type="text" rows="20" cols="80" name="body">{{ post.body|default('') }}</textarea>
        {% if errors %}
          <div>{{ errors.body }}</div>
        {% endif %}
    </div>
    <input type="submit" value="Create">
  </form>
  END -->