<!doctype html>
<html>

<head>
  <title>Example application</title>
</head>

<body>
  <a href="/posts/new">Create post</a>

  <ul>
    <!-- BEGIN (write your solution here) -->
    {% if posts %}
    {% for post in posts: %}
    <div>/posts/{{post}}/update</div>
    <li>"{{ posts["title"] }}" <a href="/posts/{{post}}/update">Edit</a></li>
    {% endfor %}
    {% endif %}
    <!-- END -->
  </ul>
  {% if messages %}
  <ul>
    {% for category, message in messages %}
    <li class="{{ category }}">{{ message }}</li>
    {% endfor %}
  </ul>
  {% endif %}

</body>

</html>